# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Vaše práva
rights-intro = { -brand-full-name } je svobodný software s otevřeným zdrojovým kódem, který je vytvářen tisíci dobrovolníky z celého světa. Je zde ale několik věcí, které byste měli vědět:
rights-intro-point-1 =
    { -brand-short-name.gender ->
        [masculine] { -brand-short-name } je dostupný za podmínek stanovených ve <a data-l10n-name="mozilla-public-license-link">Veřejné licenci Mozilly</a> (MPL).
        [feminine] { -brand-short-name } je dostupná za podmínek stanovených ve <a data-l10n-name="mozilla-public-license-link">Veřejné licenci Mozilly</a> (MPL).
        [neuter] { -brand-short-name } je dostupné za podmínek stanovených ve <a data-l10n-name="mozilla-public-license-link">Veřejné licenci Mozilly</a> (MPL).
       *[other] Aplikace { -brand-short-name } je dostupná za podmínek stanovených ve <a data-l10n-name="mozilla-public-license-link">Veřejné licenci Mozilly</a> (MPL).
    } Ta vám umožňuje aplikaci { -brand-short-name } používat, kopírovat a šířit. Pokud potřebujete, můžete také pozměnit zdrojový kód aplikace { -brand-short-name } podle vašich potřeb. Mozilla Public License vám dává také právo šířit vámi pozměněné verze.
rights-intro-point-2 = Nejsou vám však podstoupena žádná práva ani licence k ochranným známkám Mozilla Foundation, či třetích stran, a to zejména k logu a názvu Firefox. Podrobnější informace o ochranných známkách jsou dostupné <a data-l10n-name="mozilla-trademarks-link">zde</a>.
rights-intro-point-3 = Některé funkce aplikace { -brand-short-name }, jako např. hlášení pádů, vám umožní odeslat zpětnou vazbu organizaci { -vendor-short-name }. Odesláním zpětné vazby poskytujete organizaci { -vendor-short-name } povolení k jejímu použití pro vylepšení produktů, zveřejnění na stránkách a distribuci.
rights-intro-point-4 = Způsoby užití osobních informací a zpětné vazby odeslané organizaci { -vendor-short-name } pomocí aplikace { -brand-short-name } jsou popsány v <a data-l10n-name="mozilla-privacy-policy-link">zásadách aplikace { -brand-short-name } pro ochranu osobních údajů</a>.
rights-intro-point-4-unbranded = Zásady ochrany osobních údajů nejsou pro neznačkové verze produktů k dispozici.
rights-intro-point-5 = Některé funkce aplikace { -brand-short-name } využívají webové informační služby. U těchto služeb nelze garantovat jejich 100% správnost a bezchybnost. Více podrobností, včetně informací jak tyto služby zakázat, lze nalézt v <a data-l10n-name="mozilla-service-terms-link">podmínkách služeb</a>.
rights-intro-point-5-unbranded = Pokud tato neznačková verze produktu začleňuje některé služby webových serverů, měly by být jejich podmínky k nalezení v <a data-l10n-name="mozilla-website-services-link">podmínkách služeb</a>.
rights-intro-point-6 = Pro přehrání některých typů video obsahu { -brand-short-name } stáhne odpovídající dešifrovací moduly třetích stran.
rights-webservices-header = Webové informační služby aplikace { -brand-full-name }
rights-webservices = { -brand-full-name } používá webové informační služby („Služby“) z důvodu zajištění některých funkcí dostupných v rámci této binární verze aplikace { -brand-short-name } za podmínek popsaných níže. Pokud si nepřejete jednu nebo více Služeb používat nebo jsou pro vás níže uvedené podmínky neakceptovatelné, lze tyto služby vypnout. Postup, jak lze vypnout určitou funkcionalitu nebo Službu, lze najít <a data-l10n-name="mozilla-disable-service-link">zde</a>. Další funkce a Služby lze zakázat v předvolbách aplikace.
rights-safebrowsing = <strong>Bezpečné prohlížení: </strong>Zakázání funkce bezpečného prohlížení není doporučováno, protože vám umožní navštěvovat nebezpečné stránky. Pokud ale chcete tuto funkci zakázat, postupujte podle těchto kroků:
rights-safebrowsing-term-1 = Otevřete předvolby aplikace
rights-safebrowsing-term-2 = Zvolte panel Zabezpečení
rights-safebrowsing-term-3 = Zrušte výběr možnosti "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Blokovat nebezpečný a klamavý obsah
rights-safebrowsing-term-4 = Bezpečné prohlížení je momentálně vypnuto
rights-locationawarebrowsing = <strong>Prohlížení se znalostí polohy: </strong>Služby se znalostí polohy si vždy musí vyžádat váš souhlas, bez kterého nejsou odeslány žádné informace o poloze. Pokud ale chcete tuto funkci zakázat, postupujte podle těchto kroků:
rights-locationawarebrowsing-term-1 = Do pole adresy zadejte <code>about:config</code>
rights-locationawarebrowsing-term-2 = a potvrďte varování. Zadejte hledat „geo.enabled“
rights-locationawarebrowsing-term-3 = Z místní nabídky přepněte předvolbu na hodnotu false
rights-locationawarebrowsing-term-4 = Prohlížení se znalostí polohy je momentálně vypnuto
rights-webservices-unbranded = Krátký popis začleněných služeb webových serverů spolu s instrukcemi, jak je zakázat.
rights-webservices-term-unbranded = Zde by měl být seznam podmínek začleněných služeb.
rights-webservices-term-1 = Organizace { -vendor-short-name }, její přispěvatelé, držitelé licencí a partneři se snaží poskytovat co nejpřesnější a nejaktuálnější Služby. Přesto není možné garantovat, že poskytované informace jsou ucelené a bezchybné. Např. služba bezpečného prohlížení nemusí rozpoznat některé zákeřné stránky a může chybně označit některé bezpečné stránky. V rámci služeb se znalostí polohy jsou i všechny polohy vrácené našimi poskytovateli služeb pouze odhadem. Ani my ani náš poskytovatel služby negarantujeme přesnost poskytnuté polohy.
rights-webservices-term-2 = Organizace { -vendor-short-name } může libovolně ukončit nebo změnit užívání Služeb.
rights-webservices-term-3 = Jste zváni k užití Služeb spojených s touto verzí aplikace { -brand-short-name } a organizace { -vendor-short-name } vám zaručuje právo toto činit. Organizace { -vendor-short-name } a držitelé licencí si vyhrazují všechna ostatní práva spojená se Službami. Cílem těchto podmínek není omezení žádných práv udělených v rámci licencí svobodného softwaru vztahujících se na aplikaci { -brand-short-name } a na odpovídající zdrojový kód této verze aplikace { -brand-short-name }.
rights-webservices-term-4 = <strong>Služby jsou poskytovány „tak jak jsou“. Organizace { -vendor-short-name }, její přispěvatelé, držitelé licencí a distributoři se zříkají všech záruk, ať už vyjádřených nebo předpokládaných, včetně ale nikoliv výhradně, záruk zpeněžitelnosti Služeb a vhodnosti k vašemu určitému účelu. Jste plně zodpovědní za veškerá rizika spojená s volbou Služeb pro vaše účely, a to jak do kvality, tak do výkonnosti Služeb. Některé právní systémy nepovolují vyloučení nebo omezení předpokládaných záruk, v takovém případě toto zřeknutí pro vás neplatí.</strong>
rights-webservices-term-5 = <strong>Organizace { -vendor-short-name }, její přispěvatelé, držitelé licencí a distributoři nejsou mimo výjimky dané zákonem zodpovědní za žádné nepřímé, mimořádné, nahodilé škody (a ani za sankční náhradu škody) vyplývající ze způsobu použití nebo ze způsobu souvisejícího s použitím aplikace { -brand-short-name } a Služeb. Souhrnná odpovědnost za těchto podmínek nepřesáhne $500 (pět set dolarů). Některé právní systémy nepovolují vyloučení odpovědnosti za určité škody, v takovém případě tato vyloučení a omezení pro vás neplatí.</strong>
rights-webservices-term-6 = Organizace { -vendor-short-name } může dle nutnosti tyto podmínky libovolně aktualizovat. Tyto podmínky nelze měnit či zrušit bez písemného souhlasu organizace { -vendor-short-name }.
rights-webservices-term-7 = Tyto podmínky se řídí zákony státu Kalifornie, U.S.A., vyjma neshod se zákonnými ustanoveními. Pokud se ukáže, že některá část těchto podmínek je neplatná či nevynutitelná, zůstávají zbylé podmínky v plné platnosti. V případě rozporu mezi touto přeloženou verzí podmínek a anglickou verzí podmínek je autoritativní anglická verze.
