# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Zjistit více
accessibility-text-label-header = Textové popisky a názvy

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Varování
accessibility-fail =
    .alt = Chyba

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = K označení prvků <div>oblasti</div>, které mají atribut <span>href</span>, použijte atribut <code>alt</code>. <a>Zjistit více</a>
accessibility-text-label-issue-dialog = Dialogy by měly být označeny. <a>Zjistit více</a>
accessibility-text-label-issue-document-title = Dokumenty musí mít <code>title</code>. <a>Zjistit více</a>
accessibility-text-label-issue-embed = Vložený obsah musí být označen. <a>Zjistit více</a>
accessibility-text-label-issue-fieldset = Prvky <code>fieldset</code> musí být označeny. <a>Zjistit více</a>
accessibility-text-label-issue-fieldset-legend = Použijte prvek <code>legend</code> k označení prvků <span>fieldset</span>. <a>Zjistit více</a>
accessibility-text-label-issue-form = Prvky formuláře musí být označeny. <a>Zjistit více</a>
accessibility-text-label-issue-form-visible = Prvky formuláře by měly mít viditelný textový popisek. <a>Zjistit více</a>
accessibility-text-label-issue-frame = Prvky <code>frame</code> musí být označeny. <a>Zjistit více</a>
accessibility-text-label-issue-glyph = Použijte atribut <code>alt</code> k označení prvků <span>mglyph</span>. <a>Zjistit více</a>
accessibility-text-label-issue-heading = Nadpisy musí být označeny. <a>Zjistit více</a>
accessibility-text-label-issue-heading-content = Nadpisy by měly mít viditelný textový obsah. <a>Zjistit více</a>
accessibility-text-label-issue-iframe = Použijte atribut <code>title</code> k popisu obsahu <span>iframe</span>. <a>Zjistit více</a>
accessibility-text-label-issue-image = Obsah s obrázky musí být označen. <a>Zjistit více</a>
accessibility-text-label-issue-interactive = Interaktivní prvky musí být označeny. <a>Zjistit více</a>
accessibility-text-label-issue-optgroup-label = Použijte atribut <code>label</code> pro označení prvků <span>optgroup</span>. <a>Zjistit více</a>
accessibility-text-label-issue-toolbar = Panely nástrojů musí být označeny, pokud existuje více než jeden panel nástrojů. <a>Zjistit více</a>
