/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html "http://www.w3.org/1999/xhtml";

:root {
  --in-content-categories-background: #ebebef;
  --in-content-dialogtitle-background: #f1f1f1;
  --in-content-dialogtitle-border: #c1c1c1;
  --in-content-warning-container: var(--grey-20);
}

@supports -moz-bool-pref("browser.in-content.dark-mode") {
@media (prefers-color-scheme: dark) {
  :root {
    --in-content-categories-background: rgba(249,249,250,0.1);
    --in-content-dialogtitle-background: rgba(249,249,250,0.05);
    --in-content-dialogtitle-border: rgba(0,0,0,0.5);
    --in-content-warning-container: var(--grey-90-a30);
  }
}
}

#MailPreferences {
  -moz-appearance: none;
  font: message-box;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

#prefBox {
  position: relative;
}

#pref-category-box {
  background-color: var(--in-content-categories-background);
  width: 240px;
}

html|h2 {
  font-size: 1.14em;
  margin: 4px 0 !important;
}

html|h3 {
  font-size: 1em;
  font-weight: 600;
  margin: 4px 0 !important;
}

#preferencesContainer {
  padding: 40px 28px;
  overflow: auto;
}

#MailPreferences prefpane {
  max-width: 800px;
  padding: 0;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}

#MailPreferences prefpane:not([selected]) {
  display: none;
}

tabpanel > label,
tabpanel > description,
tabpanel > hbox > description {
  margin-inline-start: 0;
}

/* Web search menulist */
#defaultWebSearch > .menulist-label-box > .menulist-icon[src] {
  margin-inline-start: 5px;
  margin-inline-end: 8px;
  width: 16px;
  height: 16px;
}

/* Category List */

.paneSelector {
  -moz-appearance: none;
  background-color: transparent;
  background-image: none;
  border-bottom: none;
  padding: 54px 0 0;
  margin: 0;
}

radio[pane] {
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-appearance: none;
  width: 240px;
  color: var(--in-content-text-color);
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 2px;
  margin-top: 0;
  margin-bottom: 0;
  margin-inline-start: 34px;
  margin-inline-end: 0;
  padding: 5px 10px;
  min-height: 40px;
  outline-offset: -1px;
  transition: background-color 150ms;
}

radio[pane][selected] {
  color: var(--in-content-category-text-selected);
  background: none;
}

radio[pane]:not([selected]):hover {
  background: var(--in-content-category-background-hover);
}

radio[pane][selected]:hover {
  background-color: var(--in-content-category-background-selected-hover);
}

radio[pane]:hover:active {
  color: var(--in-content-category-text-selected-active);
  background-color: var(--in-content-category-background-selected-active);
}

.paneSelector[focused="true"][keyboard-navigation="true"] > radio[pane][focused="true"] {
  outline: var(--in-content-category-outline-focus);
}

radio[pane]:hover::before,
radio[pane][selected]::before {
  display: none;
}

radio[pane] > .radio-label-box {
  line-height: 22px;
  padding-bottom: 2px;
  padding-inline-start: 9px;
  margin: 0;
  -moz-user-select: none;
}

radio[pane][focused="true"] > .radio-label-box {
  outline: none;
}

radio[pane] > .radio-label-box > .radio-label {
  margin: 0;
}

radio[pane] > .radio-check {
  width: 24px;
  height: 24px;
  border-width: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
  margin-inline-end: 0;
  -moz-image-region: auto;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 0.8;
}

radio[pane][selected] > .radio-check {
  fill-opacity: 1;
}

@media (max-width: 830px) {
  #pref-category-box {
    width: 118px;
  }

  radio[pane] > .radio-label-box {
    display: none;
  }

  radio[pane] {
    min-width: 44px;
    padding-inline-start: 13px; /* make icons align center */
    margin-inline-end: 35px;
  }

  #preferencesContainer {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }
}

radio[pane=paneGeneral] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/general.svg");
}

radio[pane=paneDisplay] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/display.svg");
}

radio[pane=paneApplications] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/attachment.svg");
}

radio[pane=panePrivacy] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/privacy.svg");
}

radio[pane=paneSecurity]> .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/security.svg");
}

radio[pane=paneCompose] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/compose.svg");
}

radio[pane=paneAdvanced] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/advanced.svg");
}

radio[pane=paneChat] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/chat.svg");
}

radio[pane=paneLightning] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/calendar.svg");
}

radio[pane=paneAccount] > .radio-check {
  list-style-image: url("chrome://messenger/skin/shared/in-content/account.svg");
}

textbox[type="filefield"] {
  padding-inline-start: 30px;
  background-position-x: left 8px;
  background-color: var(--in-content-box-background);
  border-color: var(--in-content-box-border-color);
}

textbox[type="filefield"]:-moz-locale-dir(rtl) {
  background-position-x: right 8px;
}

textbox[type="filefield"][disabled="true"] {
  color: var(--in-content-text-color);
}

textbox + button {
  margin-inline-start: -4px;
}

html|input[type="number"] {
  margin-inline-start: 4px;
  padding: 1px;
}
/* sizes: chars + 8px padding + 1px borders + spin buttons 25+2+10px  */
html|input[type="number"].size2 {
  width: calc(2ch + 55px);
}
html|input[type="number"].size3 {
  width: calc(3ch + 55px);
}
html|input[type="number"].size4 {
  width: calc(4ch + 55px);
}
html|input[type="number"].size5 {
  width: calc(5ch + 55px);
}

html|input[type="number"]::-moz-number-spin-box {
  margin-inline-start: 10px;
}

html|input[type="number"]::-moz-number-spin-up,
html|input[type="number"]::-moz-number-spin-down {
  -moz-appearance: none;
  min-width: 25px;
  border-color: var(--in-content-box-border-color);
  background-color: var(--in-content-button-background);
  background-position: center;
  -moz-context-properties: fill;
  fill: currentColor;
}

html|input[type="number"]::-moz-number-spin-up:hover,
html|input[type="number"]::-moz-number-spin-down:hover {
  background-color: var(--in-content-button-background-hover);
}

html|input[type="number"]::-moz-number-spin-up {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 1px 1px 0 0;
  background-image: url("chrome://global/skin/icons/arrow-up-12.svg")
}

html|input[type="number"]::-moz-number-spin-down {
  border-radius: 0 0 1px 1px;
  background-image: url("chrome://global/skin/icons/arrow-dropdown-12.svg");
}

separator.groove:not([orient="vertical"]) {
  border-top-color: #c1c1c1;
  border-bottom-width: 0;
}

tab:-moz-focusring {
  outline: var(--in-content-category-outline-focus);
}

tab:-moz-focusring > .tab-middle {
  outline: none;
}

#defaultWebSearchPopup > menuitem > .menu-iconic-left {
  display: -moz-box;
}

/* Applications Pane Styles */

#applications-content {
  padding: 15px;
}

#filter {
  margin-inline-start: 0;
}

#handlersView > richlistitem {
  min-height: 36px !important;
  padding: 0;
}

.shortDetails {
  text-align: end;
  opacity: 0.5;
}

#handlersView richlistitem[selected="true"] .shortDetails {
  color: inherit;
}

.typeIcon {
  margin-inline-start: 10px;
  margin-inline-end: 9px;
}

.actionIcon {
  margin-inline-start: 11px;
  margin-inline-end: 8px;
}

.actionsMenu {
  min-height: 36px;
}

.actionsMenu > menupopup > menuitem {
  padding-inline-start: 10px !important;
}

.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  margin-inline-end: 8px !important;
}

listhead > listheader:first-of-type:-moz-locale-dir(ltr),
listhead > listheader:last-of-type:-moz-locale-dir(rtl) {
  margin-left: -2px;
}

listhead > listheader:first-of-type:-moz-locale-dir(rtl),
listhead > listheader:last-of-type:-moz-locale-dir(ltr) {
  margin-right: -2px;
}

/* XXX This style is for bug 740213 and should be removed once that
   bug has a solution. */
description > html|a {
  cursor: pointer;
}

#provider-listing {
  width: 200px;
}

#addCloudFileAccountButtons button,
#addCloudFileAccount,
#removeCloudFileAccount,
#moreProvidersLink {
  margin: 4px 0 0;
  text-align: center;
}

#addCloudFileAccountButtons button .button-icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 8px;
}

#addCloudFileAccountListItems {
  text-align: start;
}

#addCloudFileAccountListItems > menuitem > .menu-iconic-left {
  display: -moz-box;
}

#moreProvidersLink {
  padding: 4px;
}

#paneChat {
  padding-top: 15px;
  padding-bottom: 15px;
}

tabs {
  margin-inline-end: 4px; /* add the 4px end-margin of other elements */
}

.indent {
  margin-inline-start: 33px;
}

.update-throbber {
  margin-inline-start: 0;
  margin-inline-end: 4px;
}

.updateSettingCrossUserWarningContainer {
  background: var(--in-content-warning-container);
  border-radius: 5px;
  padding-inline: 8px;
  padding-block-start: 2px;
  padding-block-end: 8px;
  margin-block-end: 17px;
}

#updateSettingCrossUserWarning {
  padding-inline-start: 30px;
  margin-block-start: 20px;
  line-height: 20px;
  background-image: url("chrome://messenger/skin/icons/info.svg");
  background-position-x: left 2px;
  background-position-y: top 2px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  -moz-context-properties: fill;
  fill: currentColor;
}

#updateSettingCrossUserWarning:-moz-locale-dir(rtl) {
  background-position-x: right 2px;
}

#releasenotes {
  margin-inline-start: 6px !important;
}

#telemetryLearnMore,
#crashReporterLearnMore {
  margin-inline-end: 4px !important;
}

/* Remove the start margin to align these elements */
#addCloudFileAccount,
#chatStartupAction,
#defaults-itemtype-menulist,
#manageCertificatesButton {
  margin-inline-start: 0;
}

/**
 * Font dialog menulist fixes
 */

#defaultFontType,
#serif,
#sans-serif,
#monospace {
  min-width: 30ch;
}

/**
 * toolkit element overrides
 */

groupbox label:not(.menu-accel):not(.menu-iconic-accel):not(.menu-text):not(.menu-iconic-text):not(.menulist-label):not(.indent):not(.learnMore):not(.tail-with-learn-more),
groupbox description {
  /* !important needed to override toolkit !important rule */
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

richlistbox {
  -moz-appearance: none;
  background-color: var(--in-content-box-background);
  color: var(--in-content-text-color);
}

richlistbox richlistitem {
  padding: 0.3em;
  margin: 0;
  border: none;
  border-radius: 0;
  background-image: none;
}

richlistbox richlistitem:hover {
  background-color: var(--in-content-item-hover);
}

richlistbox:focus > richlistitem[selected="true"] {
  background-color: var(--in-content-item-selected);
  color: var(--in-content-selected-text) !important;
}

#messengerLanguagesDialogPane {
  min-height: 360px;
}

#defaultMessengerLanguage {
  margin-inline-start: 0;
  min-width: 20em;
}

#MessengerLanguagesDialog > .dialog-button-box > .dialog-button[dlgtype="accept"] {
  margin-inline-end: 0;
}

#availableLocales {
  margin: 0;
  margin-inline-end: 4px;
}

#warning-message {
  margin-top: 8px;
}

#warning-message > .message-bar-description {
  width: 32em;
}

.add-messenger-language {
  margin: 0;
  margin-inline-start: 4px;
}

.action-button {
  margin-inline-end: 0;
}

/* Menulist styles */
.label-item {
  font-size: .8em;
}

/**
 * Dialog
 */

.dialogOverlay {
  visibility: hidden;
}
.dialogOverlay[topmost="true"] {
  background-color: rgba(0,0,0,0.5);
}

.dialogBox {
  -moz-appearance: none;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
  /* `transparent` will use the dialogText color in high-contrast themes and
     when page colors are disabled */
  border: 1px solid transparent;
  border-radius: 2.5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  display: -moz-box;
  margin: 0;
  padding: 0;
}

.dialogBox[resizable="true"] {
  resize: both;
  overflow: hidden;
  min-height: 20em;
  min-width: 66ch;
}

.dialogTitleBar {
  margin-top: 0;
  padding: 3.5px 0;
  background-color: var(--in-content-dialogtitle-background);
  border-bottom: 1px solid var(--in-content-dialogtitle-border);
}

.dialogTitle {
  font-size: 1.026em;
  font-weight: 600;
  text-align: center;
}

.close-icon {
  border: none;
  background: none !important;
  min-width: 0;
  min-height: auto;
}

.dialogFrame {
  margin: 20px;
  -moz-box-flex: 1;
  /* Default dialog dimensions */
  height: 12em;
  width: 40ch;
}

.largeDialogContainer.doScroll {
  overflow-y: auto;
  -moz-box-flex: 1;
}

/**
 * End Dialog
 */
