/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

dialog,
window,
prefpane,
.windowDialog {
  -moz-appearance: none;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
  margin: 0;
  padding: 0;
}

prefpane {
  -moz-box-orient: vertical;
}

.contentPane {
  margin: 0;
}

.contentPane,
dialog > .dialog-content-box {
  padding: 4px;
}

.contentPane.doScroll,
dialog.doScroll > .dialog-content-box {
  overflow-y: auto;
}

tabbox {
  /* override the rule in certManager.xul */
  margin: 0 0 5px !important;
}

tabpanels {
  font-size: 1em;
}

tabs,
label,
description,
#useDocumentColors {
  margin-right: 4px;
  margin-left: 4px;
}

tree {
  min-height: 15em;
}

.actionButtons {
  margin: 3px 0 0 !important;
}

caption {
  padding-inline-start: 0;
}

groupbox {
  margin-top: 0;
  margin-right: 4px;
  margin-left: 4px;
  padding-top: 0;
  padding-bottom: 5px;
}

prefpane .groupbox-body {
  padding: 0 0 5px;
}

groupbox description {
  margin-right: 0;
  margin-left: 0;
}

menulist label {
  font-weight: unset;
}

.actionButtons + resizer {
  display: none;
}

#ReturnReceiptsDialogPane {
  margin-right: 4px;
  margin-left: 4px;
}

#configDeck {
  min-width: 750px;
  min-height: 500px;
}

#cookieInfoBox {
  margin-right: 0;
  margin-left: 0;
}

/* Create a separate rule to unset these styles on .tree-input instead of
   using :not(.tree-input) so the selector specifity doesn't change. */
textbox.tree-input {
  font-size: unset;
}

/* Adjust the Lightning Edit Category dialog */
#colorSelectRow {
  margin-top: 10px;
  margin-inline-start: 4px;
}

#logView {
  border: 1px solid var(--in-content-box-border-color);
  margin: 0 4px 5px;
}
