# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Ynghylch Developer Tools
enable-title = Galluogi Firefox Developer Tools
enable-inspect-element-title = Galluogi Firefox Developer Tools i ddefnyddio Inspect Element
enable-inspect-element-message = Archwilio a golygu HTML a CSS gyda'r Archwiliwr Developer Tools.
enable-about-debugging-message = Datblygu a dadfygio WebExtensions, gweithwyr gwe, gweithwyr gwasanaeth a mwy gyda Firefox Developer Tools.
enable-key-shortcut-message = Rydych wedi cychwyn llwybr byr Developer Tools. Os oedd hynny'n gamgymeriad, gallwch gau'r tab hwn.
enable-menu-message = Perffeithio HTML, CSS, a JavaScript eich gwefan gydag offer fel yr Archwiliwr a'r Dadfygiwr.
enable-common-message = Mae'r Firefox Developer Tools wedi ei analluogi yn rhagosodedig i roi mwy o reolaeth i chi dros eich porwr.
enable-learn-more-link = Dysgu rhagor am Developer Tools
enable-enable-button = Galluogi Developer Tools
enable-close-button = Cau'r Tab hwn
welcome-title = Croeso i Firefox Developer Tools!
newsletter-title = Mozilla Developer Newsletter
newsletter-message = Derbyn newyddion, triciau ac adnoddau ar gyfer datblygwyr yn syth i'ch blwch derbyn.
newsletter-email-placeholder =
    .placeholder = E-bost
newsletter-privacy-label = Rwy'n fodlon i Mozilla drin fy manylion fel mae'n cael ei esbonio yn <a data-l10n-name="privacy-policy">y Polisi Preifatrwydd hwn</a>.
newsletter-subscribe-button = Tanysgrifio
newsletter-thanks-title = Diolch!
newsletter-thanks-message = Os nad ydych eisoes wedi cadarnhau tanysgrifiad i gylchlythyr yn perthyn i Mozilla, mae'n bosib y bydd yn rhaid i chi wneud hynny. Gwiriwch eich blwch derbyn neu eich hidl sbam am e-bost gennym ni.
footer-title = Firefox Developer Edition
footer-message = Chwilio am fwy na dim ond Developer Tools? Edrychwch ar y porwr Firefox sydd wedi ei adeiladu yn benodol ar gyfer datblygwyr a'r llif gwaith modern.
footer-learn-more-link = Dysgu rhagor
features-learn-more = Dysgu rhagor
features-inspector-title = Archwiliwr
features-inspector-desc = Archwilio a gwella cod er mwyn adeiladu cynlluniau picsel berffaith. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consol
features-console-desc = Tracio mateion CSS, JavaScript, diogelwch a rhwydwaith. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Dadfygiwr
features-debugger-desc = Dadfygiwr JavaScript pwerus gyda chefnogaeth am eich fframwaith. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Rhwydwaith
features-network-desc = Monitro ceisiadau rhwydwaith sy'n gallu arafu neu rwystro eich gwefan. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Storfa
features-storage-desc = Ychwanegu, newid neu dynnu data storfa dros dro, cwcis, cronfeydd data a data sesiynau. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Modd Cynllunio Ymatebol
features-responsive-desc = Profi gwefannau ar ddyfeisiau wedi eu hefelychu o fewn eich porwr. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Golygu Gweledol
features-visual-editing-desc = Cywiro animeiddiadau, aliniad a phadio. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Perfformiad
features-performance-desc = Agor rhwystrau, llyfnhau prosesau a gwneud y mwyaf o asedau. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Cof
features-memory-desc = Canfod colli cof a gwneud eich rhaglenni'n chwim. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Methodd cais am danysgrifiad ({ $errorDescription }).
newsletter-error-unknown = Digwyddodd gwall annisgwyl.
newsletter-error-timeout = Daeth y cais am danysgrifiad i ben.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Rydych wedi galluogi Developer Tools yn llwyddiannus! I gychwyn arni, edrychwch ar ddewislen y Datblygwr Gwe neu agor yr offer gyda { $shortcut }.
