# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Perihal Alatan Pembangun
enable-title = Dayakan Alatan Pembangun Firefox
enable-inspect-element-title = Dayakan Alatan Pembangun Firefox untuk menggunakan Elemen Periksa
enable-inspect-element-message = Periksa dan edit HTML dan CSS dengan Pemeriksa Alatan Pembangun.
enable-about-debugging-message = Bangunkan dan nyahpepijat WebExtensions, web workers, service workers dan banyak lagi dengan Alatan Pembangun Firefox.
enable-key-shortcut-message = Anda telah mengaktifkan pintasan Alatan Pembangun. Jika ini adalah kerana kesilapan, anda boleh tutup tab ini.
enable-menu-message = Sempurnakan HTML, CSS dan JavaScript laman web anda dengan alatan seperti Pemeriksa dan Penyahpepijat.
enable-common-message = Alatan Pembangun Firefox dinyahdayakan secara piawai untuk memberikan anda lebih banyak kawalan ke atas pelayar anda.
enable-learn-more-link = Ketahui selanjutnya perihal Alatan Pembangun
enable-enable-button = Dayakan Alatan Pembangun
enable-close-button = Tutup Tab ini
welcome-title = Selamat datang ke Alatan Pembangun Firefox!
newsletter-title = Surat Berita Pembangun Mozilla
newsletter-message = Dapatkan berita. helah dan sumber yang dihantar terus ke peti masuk anda.
newsletter-email-placeholder =
    .placeholder = E-mel
newsletter-privacy-label = Saya setuju Mozilla mengendalikan maklumat saya seperti yang dijelaskan dalam <a data-l10n-name="privacy-policy">Polisi Privasi ini</a>.
newsletter-subscribe-button = Langgan
newsletter-thanks-title = Terima kasih!
newsletter-thanks-message = Jika anda belum pernah mengesahkan langganan surat berita yang berkaitan dengan Mozilla, anda mungkin perlu untuk berbuat demikian. Sila semak peti masuk anda atau penapis spam anda untuk dapatkan e-mel daripada kami.
footer-title = Firefox Developer Edition
footer-message = Mencari sesuatu yang lebih daripada sekadar Alatan Pembangun? Semak pelayar Firefox yang dibina khusus untuk aliran kerja pembangun dan moden.
footer-learn-more-link = Ketahui selanjutnya
features-learn-more = Ketahui selanjutnya
features-inspector-title = Pemeriksa
features-inspector-desc = Periksa dan perhalusi kod untuk membina susun atur pixel yang sempurna. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsol
features-console-desc = Jejaki isu CSS, JavaScript, keselamatan dan rangkaian. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Penyahpepijat
features-debugger-desc = Penyahpepijat JavaScript yang berkuasa dengan sokongan untuk rangka kerja anda. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Rangkaian
features-network-desc = Pantau permintaan rangkaian yang memperlahankan atau menyekat laman anda. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Storan
features-storage-desc = Tambah, ubah dan buang cache, kuki, pangkalan data dan data sesi. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Mod Reka bentuk Responsif
features-responsive-desc = Uji laman pada peranti emulasi dalam pelayar anda. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Suntingan Visual
features-visual-editing-desc = Menala-halus animasi, penjajaran dan penebalan. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Prestasi
features-performance-desc = Nyahsekat kesesakan, memperkemaskan proses, mengoptimumkan aset. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memori
features-memory-desc = Cari kebocoran memori dan jadikan aplikasi anda pantas. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Gagal melengkapkan langganan ({ $errorDescription }).
newsletter-error-unknown = Ada ralat tidak dijangka.
newsletter-error-timeout = Tamat tempoh melengkapkan langganan.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Anda telah berjaya mengaktifkan Alatan Pembangun! Untuk memulakan, teroka menu Pembangun Web atau buka alatan dalam { $shortcut }.
