/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== cardViewOverlay.css ============================================
  == Styles for the Address Book Card view.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: Card Edit dialog ::::: */

.CardEditWidth {
  width: 42ch;
}

.PhoneEditWidth {
  width: 24ch;
}

.AddressCardEditWidth {
  width: 72ch;
}

#BirthMonth[value="-1"],
#BirthDay[value="-1"],
.placeholderOption {
  color: GrayText;
}

.YearWidth {
  width: 8ch;
}

.stateZipSpacer {
  width: 6ch;
}

.ZipWidth {
  width: 14ch;
}

/* ::::: List dialogs ::::: */

#addressingWidget {
  -moz-user-focus: none;
  width: 0;
}

#typecol-addressingWidget {
  min-width: 9em;
}

.addressingWidgetItem,
.dummy-row {
  border: none !important;
  background-color: inherit !important;
  color: inherit !important;
}

.addressingWidgetCell {
  border-bottom: 1px solid #DCDCDC;
  padding: 0px;
}

.addressingWidgetCell:first-child {
  border-top: none;
}

.dummy-row-cell:first-child {
  border-top: none;
  border-bottom: 1px solid #DCDCDC;
}

.person-icon {
  margin: 0 3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

.menulist-icon {
  margin-inline-end: 2px;
}

#photo {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/contact-generic.png");
}

#GenericPhotoList[value="default"] {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/contact-generic-tiny.png");
}

#PhotoContainer {
  margin: 5px;
}

#PhotoDropTarget {
  margin-top: 5px;
}

#PhotoDropTarget:hover {
  border: 1px dashed #CACAFF;
}

#ProgressContainer {
  max-height: 0;
  transition: all .5s ease-out;
  overflow: hidden;
}

#ProgressContainer.expanded {
  margin-top: 10px;
  max-height: 40px; /* something higher than the actual height, but not too large */
}

@media (min-resolution: 2dppx) {
  .person-icon {
    width: 16px;
    height: 16px;
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook@2x.png");
    -moz-image-region: rect(0px 160px 32px 128px);
  }

  #photo {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/contact-generic@2x.png");
  }

  #GenericPhotoList[value="default"] {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/contact-generic-tiny@2x.png");
  }

  #GenericPhotoList .menulist-icon {
    width: 16px;
    height: 16px;
  }
}
