#initialSettings {
  margin-bottom: 1em;
}

#manual-edit_area {
  margin-bottom: 2em;
}

/* status area */

#status_msg {
  min-height: 1.5em;
  max-width: 30em;
}

#status-lines {
  -moz-box-pack: start;
  -moz-box-flex: 10;
  margin-left: 10em;
}

.status-line[status="loading"] .status-img {
  background: url("chrome://global/skin/icons/loading.png") no-repeat;
  width: 16px;
  height: 16px;
}

.status-line[status="failed"] .status-img {
  background: url("chrome://messenger/skin/icons/exclude.png") no-repeat;
  width: 16px;
  height: 16px;
}

.status-line[status="succeeded"] .status-img {
  background: url("chrome://messenger/skin/icons/tick.png") no-repeat;
  width: 16px;
  height: 16px;
}

/* result area */

#result_area {
  margin-bottom: 1em;
}

textbox.result-host-info > label {
  margin-left: 0px;
  margin-right: 0px;
}

textbox.result-host-info > label.host-without-domain,
textbox.result-host-info > label.ssl,
textbox.result-host-info > label.certStatus {
  margin-left: 0.4em;
}

textbox.result-host-info > label.domain {
  font-weight: bold;
}

textbox.result-host-info > label.insecure {
  color: red;
  font-weight: bold;
}

#result_servertype {
  margin-bottom: 1.5em;
}

#result_exchange_hostname_container {
  margin-bottom: 0.5em;
}

#result_area description {
  margin-top: 0px;
  margin-bottom: 0px;
}

#result_addon_intro {
  max-width: 40em;
}

#result_addon_install {
  margin-top: 4px;
}

#result_addon_install image.icon {
  width: 32px;
  height: 32px;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#result_addon_install_column_link {
  max-width: 30em;
}

#result_addon_install_column_button {
  max-width: 10em;
}

.btn-link {
  color: #0a84ff;
  -moz-appearance: none;
  font-size: 0.95rem;
  cursor: pointer;
}
.btn-link:hover {
  color: #0060df !important;
  text-decoration: underline;
}
