# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Conegueu els vostres drets
rights-intro = El { -brand-full-name } és programari lliure i de codi obert, creat per una comunitat de milers de desenvolupadors d'arreu del món. Hi ha certs punts que caldria que coneguéssiu:
rights-intro-point-1 = El { -brand-short-name } es posa a la vostra disposició sota els termes de la <a data-l10n-name="mozilla-public-license-link">Mozilla Public License (Llicència Pública de Mozilla)</a>. Això significa que podeu utilitzar, copiar i distribuir el { -brand-short-name } a altres. També es permet obertament la modificació del codi font del { -brand-short-name } per tal que s'adeqüi a les vostres necessitats. La Mozilla Public License us dóna també el dret de distribuir versions modificades.
rights-intro-point-2 = No s'atorga cap dret ni cap llicència sobre les marques de la Fundació Mozilla, o de cap altra part, incloent-hi sense cap limitació el nom i el logotip del Firefox. Podeu trobar més informació referent a la política de marques <a data-l10n-name="mozilla-trademarks-link">aquí</a>.
rights-intro-point-3 = Algunes funcions del { -brand-short-name }, com ara el Generador d'informes de fallada, us donen l'opció d'enviar comentaris a { -vendor-short-name }. Si opteu per enviar els vostres comentaris, autoritzeu { -vendor-short-name } a utilitzar la informació per millorar els seus productes, a publicar-la en els seus llocs web i a distribuir-la.
rights-intro-point-4 = Com s'utilitza la vostra informació personal i els informes que hàgiu tramès a { -vendor-short-name } des del { -brand-short-name } es descriu a la <a data-l10n-name="mozilla-privacy-policy-link">política de privadesa del { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Les polítiques de privadesa que s'apliquen a aquest producte cal llistar-les aquí.
rights-intro-point-5 = Algunes de les funcionalitats del { -brand-short-name } utilitzen serveis d'informació web; tot i així, no podem garantir que funcionin correctament ni que no continguin errors. Per obtenir més detalls, inclosa la informació de com inhabilitar les funcions que utilitzen aquests serveis, vegeu <a data-l10n-name="mozilla-service-terms-link">les condicions del servei</a>.
rights-intro-point-5-unbranded = Si aquest producte incorpora serveis web, les condicions dels serveis que s'hi apliquin cal enllaçar-les a la secció de <a data-l10n-name="mozilla-website-services-link">Serveis del lloc web</a>.
rights-intro-point-6 = Per tal de reproduir determinats tipus de contingut de vídeo, el { -brand-short-name } ha de baixar alguns mòduls de desxifratge de contingut de tercers.
rights-webservices-header = Serveis d'informació web del { -brand-full-name }
rights-webservices = El { -brand-full-name } utilitza serveis d'informació web («serveis» d'ara endavant), per proporcionar algunes de les funcionalitats disponibles per al vostre ús amb aquesta versió binària del { -brand-short-name }; tal com es descriu a continuació. Si no voleu un o més d'aquests serveis, o bé no considereu llurs termes acceptables, podeu triar inhabilitar-los. Teniu instruccions de com inhabilitar una funcionalitat o servei concret <a data-l10n-name="mozilla-disable-service-link">aquí</a>. En les preferències de l'aplicació es poden inhabilitar altres funcionalitats i serveis.
rights-safebrowsing = <strong>Navegació segura: </strong>No és recomanable inhabilitar la funcionalitat de navegació segura perquè pot comportar que visiteu llocs insegurs. Si voleu inhabilitar-la completament, seguiu els passos següents:
rights-safebrowsing-term-1 = Obriu les preferències de l'aplicació
rights-safebrowsing-term-2 = Seleccioneu la secció de seguretat
rights-safebrowsing-term-3 = Desmarqueu l'opció «{ enableSafeBrowsing-label }»
enableSafeBrowsing-label = Bloca el contingut perillós i maliciós
rights-safebrowsing-term-4 = A partir d'aquell moment, la navegació segura estarà inhabilitada
rights-locationawarebrowsing = <strong>Navegació amb geolocalització: </strong>és sempre opcional.  No s'enviarà mai cap informació de la vostra ubicació sense el vostre permís. Si voleu inhabilitar la funcionalitat complement, seguiu els passos següents:
rights-locationawarebrowsing-term-1 = A la barra d'ubicació, escriviu-hi <code>about:config</code>
rights-locationawarebrowsing-term-2 = Escriviu-hi geo.enabled
rights-locationawarebrowsing-term-3 = Feu doble clic a la preferència geo.enabled
rights-locationawarebrowsing-term-4 = A partir d'aquell moment, la navegació amb geolocalització estarà inhabilitada
rights-webservices-unbranded = Un resum dels serveis del lloc web que incorpora el producte, juntament amb instruccions de com inhabilitar-los, si s'escau, cal incloure-ho aquí.
rights-webservices-term-unbranded = Les condicions del servei que s'apliquen a aquest producte cal llistar-les aquí.
rights-webservices-term-1 = { -vendor-short-name } i els seus col·laboradors, llicenciadors i socis treballen per proporcionar els serveis més acurats i actualitzats. No obstant això, no podem garantir que la informació sigui completa i exempta d'errors. Per exemple, alguns llocs perillosos poden eludir la detecció del servei de navegació segura i alguns llocs segurs podrien ser identificats com a perillosos per error. Així mateix, les ubicacions que es proporcionen amb la navegació amb geolocalització són només estimacions dels nostres proveïdors de servei i no podem garantir-ne llur precisió.
rights-webservices-term-2 = { -vendor-short-name } pot discontinuar o canviar els serveis a discreció.
rights-webservices-term-3 = Podeu utilitzar sense cap problema aquests serveis amb la versió acompanyant del { -brand-short-name }, i amb el permís de { -vendor-short-name } disposeu de tots els drets necessaris per fer-ho. { -vendor-short-name } i els seus llicenciadors es reserven tots els altres drets dels serveis. Aquests termes no estan pensats per limitar cap altre dret que s'atorga sota les llicències de codi obert aplicables al { -brand-short-name } i a les versions de codi font corresponents del { -brand-short-name }.
rights-webservices-term-4 = <strong>Els serveis es proporcionen «tal qual». { -vendor-short-name }, els seus col·laboradors, llicenciadors i distribuïdors s'eximeixen de totes les garanties, tant expresses com implícites, incloent sense cap mena de limitació, garanties que els serveis són comercials i que s'escauen als vostres propòsits particulars. Assumiu tot el risc de seleccionar els serveis per als vostres propòsits i pel que fa a llur qualitat i rendiment. Algunes jurisdiccions no permeten l'exclusió o limitació de les garanties implícites; en aquest cas, aquestes no podrien aplicar-se-us.</strong>
rights-webservices-term-5 = <strong>Excepte quan ho digui la llei, { -vendor-short-name }, els seus col·laboradors, llicenciadors, i distribuïdors no seran responsables de cap dany indirecte, especial, accidental, conseqüència de, punitiu o exemplar que hagi sorgit a partir de o estigui relacionat amb l'ús del { -brand-short-name } i els Serveis. El total de responsabilitat sota aquests termes no superarà els 500 dòlars (cinc-cents dòlars). Algunes jurisdiccions no permeten l'exclusió o la limitació per a determinats danys, per tant aquesta exclusió i limitació potser no us afectin.</strong>
rights-webservices-term-6 = { -vendor-short-name } pot actualitzar aquests termes quan sigui necessari cada cert temps. Aquests no poden modificar-se o cancel·lar-se sense l'acord escrit de { -vendor-short-name }.
rights-webservices-term-7 = Aquests termes es regeixen segons les lleis de l'estat de California, EUA, excloent-ne el conflicte amb les provisions legals. Si cap part d'aquests termes esdevé no vàlida o sense cap aplicació possible, les parts que en quedin romandran amb plena força i efecte. En cas de conflicte entre una versió traduïda d'aquests termes i la versió original en llengua anglesa, prevaldrà la versió en llengua anglesa.
